streamlit 
langchain
langchain_community
langchain_core
python-dotenv
langchain-huggingface
langchain-qdrant
langchain-ollama
unstructured[pdf]z
onnx==1.16.1
qdrant-client
plotly
pandas
numpy